img {
    margin: 5px;
}

img:hover {
    background: rgba(0, 0, 255, 0.8);
    filter: contrast(200%);
}

.image {
    background: black;
    border-radius: 10px;
    padding-top: 10px;
}

.image > div {
    color: white;
}

.image-text {
    text-align: center;
}

#tab-panel {
    margin-top: 5px;
}

.tab-pane h2 {
    text-align: center;
}

#tab-panel a:hover {
    background: black;
}

#tab-panel a {
    border-radius: 5px 5px 0 0;
}

form select:hover {
    background: #449d44;
    color: black;
}

form input:hover {
    background: #449d44;
    color: black;
}

form input:focus {
    background: white;
    color: black;
}

.modal-dialog {
    margin-top: 0;
}

.nav-tabs > li {
    border-radius: 20px 10px 0 0;
}

.thumbnail {
    position: relative;
}

figcaption {
    position: absolute;
    background: rgba(226, 225, 225, 0.5);   
    color: rgb(104, 34, 34);
    bottom: 10%;
    left: 20%;
}

figcaption > h1 {
    margin: 0;
}

@media screen and (max-width: 500px) {

    .spinning {
        display: none;
    }
    h1 {
        font-size: 200%;
    }
}
